	body{margin: 0px;padding: 0px;background: white;}

			#main_left {
				width:300px;
				background: '../img/方圆.jpg';
				position: absolute;
				left: 0px;
				top: 0px;
				bottom:0px;
			}
			#main_right {
				height:100%;
				margin:0 0 0 310px;
				background:white;
				position: absolute;
				left: 0px;
				top: 0px;
				bottom: 0px;
				right: 0px;
			}
			#top {
				height: 200px;
				background: #ddd;
				position: absolute;
				left: 0px;
				top: 0px;
				right: 0px;
			}
			#middle {
				/*margin: 200px 0px 200px 0px;*/
				background: purple;
				position: absolute;
				left: 0px;
				right: 0px;
				top: 210px;
				bottom: 210px;

			}
			#bottom {
				height: 200px;
				background: #ccc;
				position: absolute;
				left: 0px;
				bottom: 0px;
				right: 0px;
			}
			#main_left_bg {
				height: 100%;
				width: 100%;
			}
			#hover {
				height: 100px;
				position:fixed;
				left: 0px;
				bottom: 0px;
				right: 0px;
				background: blue;
			}
			#hover input {
				height: 30px;
				width: 30px;
				float:right;
				background: white;
			}